<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="CalesTectSync"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gymapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".exercise_logs"
            android:exported="false" />
        <activity
            android:name=".messege"
            android:exported="false" />
        <activity
            android:name=".RestingDialogFragment"
            android:exported="false" />
        <activity
            android:name=".guide_pressure"
            android:exported="false" />
        <activity
            android:name=".reports"
            android:exported="false" />
        <activity
            android:name=".age_assessment"
            android:exported="false" />
        <activity
            android:name=".personalizeExercise"
            android:exported="false" />
        <activity
            android:name=".choice"
            android:exported="false" />
        <activity
            android:name=".personalize"
            android:exported="false" />
        <activity
            android:name=".weekly_generate"
            android:exported="false" />
        <activity
            android:name=".generate_week"
            android:exported="false" />
        <activity
            android:name=".emg_bluetooth"
            android:exported="false" />
        <activity
            android:name=".ExerciseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".FocusBody"
            android:exported="false" />
        <activity
            android:name=".body_assessment"
            android:exported="false" />
        <activity
            android:name=".OtpActivity"
            android:exported="false" />
        <activity
            android:name=".bluetooth"
            android:exported="false" />
        <activity
            android:name=".focusDetail"
            android:exported="false" />
        <activity
            android:name=".FocusAdd"
            android:exported="false" />
        <activity
            android:name=".ExerciseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".warmup_details"
            android:exported="false" />
        <activity
            android:name=".warmup"
            android:exported="false" />
        <activity
            android:name=".level"
            android:exported="false" />
        <activity
            android:name=".exfocus_list"
            android:exported="false" />
        <activity
            android:name=".exercise_details"
            android:exported="false" />
        <activity
            android:name=".exercise_list"
            android:exported="false" />
        <activity
            android:name=".forgotpass"
            android:exported="false" />
        <activity
            android:name=".setting"
            android:exported="false" />
        <activity
            android:name=".tracking"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".homepage"
            android:exported="false" />
        <activity
            android:name=".focus"
            android:exported="false" />
        <activity
            android:name=".goals"
            android:exported="false" />
        <activity
            android:name=".gender"
            android:exported="false" />
        <activity
            android:name=".weight"
            android:exported="false" />
        <activity
            android:name=".weekly_goal"
            android:exported="false" />
        <activity
            android:name=".signups"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".startup"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>